
@media (max-width: 768px)
    .container
        max-width: 750px
        margin: 0 auto
    .promo
        &__wrapper
            margin-top: 70px
        &__header
            font-size: 40px
        &__subheader
            font-size: 23px

        &__link
    .button_main
        font-size: 15px
        width: 280px
