.advantage {
    min-height: 470px;
    padding: 69px 0 78px 0;
    &__header {
        color: #0d0d0d;
        margin-bottom: 65px;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 922px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
    }
    &__icon {
        width: 239px;
        height: 239px;
    }
    &__subheader {
        text-align: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    &__text {
        display: block;
        margin: 0 auto;
        width: 239px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    &__link {
        color: $main-color;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: $main-color;
        }
    }
}
