.carousel {
  padding: 81px 0;
}

.carousel__inner {
  width: 750px;
  margin: 0 auto;
}

.carousel .slick-prev,
.carousel .slick-next {
  background-color: #fff;
  border: none;
}

.carousel .slick-prev img,
.carousel .slick-next img {
  width: 31px;
  height: 50px;
}
