.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        position: absolute;
        background-color: #fff;
        border: none;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-slide {
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        button {
            font-size: 0;
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 50%;
            border: none;
        }
        li {
            display: block;
            list-style: none;
            margin: 0 10px;
            width: 10px;
        }
    }
    .slick-active {
        button {
            background-color: rgb(36, 184, 17);
        }
    }
}
