.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
    }
}